*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-back{
    background-color: hsl(222, 26%, 31%);
    color: white;
}

.main-white{
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);
}

h3{
    margin-top: 15px;
}

.main-purple{
    background-color: hsl(268, 75%, 9%);
    color: hsl(52, 100%, 62%);
}

header{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.checkbox-div{
    display: flex;
    flex-direction: column;
}

.numbers{
    display: flex;
    margin-left: 50px;
    margin-bottom: 3px;
}

.numbers p{
    margin-left: 15px;
    font-size: 12px;
}
.form{
    display: flex;
}

.form span{
    margin-right: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.container{
    width: 65px;
    height: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.input{
    display: none;
}

.label{
    width: 14px;
    height: 75%;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    

}

.first{
    background-color: hsl(6, 63%, 50%);
    margin-left: -61.5px;
}

.first:hover{
    background-color: hsl(6, 82%, 58%);
}

.second{
    background-color: hsl(25, 98%, 40%);
    margin-left: -40px;
}

.second:hover{
    background-color: hsl(25, 91%, 48%);
}

.third{
    background-color: hsl(176, 100%, 44%);
    margin-left: -23px;
}

.third:hover{
    background-color: hsl(176, 100%, 82%);
}

.check{
    width: 14px;
    height: 75%;
    border-radius: 50%;
    margin-top: 2.5px;
    transition: all ease 0.4s;
    cursor: pointer;
}

.calculator{
    width: 30vw;
    margin-top: 15px;
    height: 460px;
    display: flex;
    flex-direction: column;
}

.screen{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    text-align: end;
    padding-top: 35px;
    padding-right: 15px;
}

.dark-blue-screen{
    background-color: hsl(224, 36%, 15%);
}

.white-screen{
    background-color: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);
}

.purple-screen{
    background-color:  hsl(268, 71%, 12%);
}

.keys{
    width: 100%;
    margin-top: 15px;
    height: calc(100% - 110px);
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    padding: 15px 20px;
}

.blue-keys{
    background-color: hsl(223, 31%, 20%);
}

.gray-keys{
    background-color: hsl(0, 5%, 81%);
}

.purple-keys{
    background-color:  hsl(268, 71%, 12%);
}

.key-column{
    display: flex;
    gap: 10px;
}

.key-button{
    font-size: 30px;
    background-color: hsl(30, 25%, 89%);
    height: 45px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 0px hsl(28, 16%, 65%);
    text-transform: uppercase;
    padding-top: 5px;
    color: hsl(221, 14%, 31%);
}
.key-button:hover{
    background-color: white;
}

.key-yellow{
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0px 3px 0px hsl(35, 11%, 61%)
}

.key-purple{
    background-color: hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%);
    box-shadow: 0px 3px 0px hsl(290, 70%, 36%);
}

.key-purple:hover{
    background-color: hsl(268, 45%, 41%);
}

.reset{
    width: 50%
}

.light-blue{
    background-color:  hsl(225, 21%, 49%);
    box-shadow: 0px 3px 0px hsl(224, 28%, 35%);
    color: white;
}

.light-blue:hover{
    background-color:  hsl(226, 43%, 73%);;
}

.dark-cyan{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 3px 0px hsl(185, 58%, 25%);
    color: white;
}

.dark-cyan:hover{
    background-color: hsl(185, 43%, 47%);
}

.light-purple{
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0px 3px 0px hsl(285, 91%, 52%);
    color: white;
}

.light-purple:hover{
    background-color: hsl(281, 61%, 44%);
}

.equals{
    width: 50%;
}

.light-red{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px 0px hsl(6, 70%, 34%);
    color: white;
}

.light-red:hover{
    background-color:  hsl(6, 55%, 55%);
}

.light-orange{
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0px 3px 0px hsl(25, 99%, 27%);
    color: white;
}

.light-orange:hover{
    background-color: hsl(25, 93%, 48%);
}

.pure-cyan{
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0px 3px 0px hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
}

.pure-cyan:hover{
    background-color: hsl(176, 93%, 70%);
}

@media screen and (max-width: 700px) {
    header{
        margin-top: 30px;
        width: 70vw;
    }
    
    .calculator{
        height: 420px;
        width: 75vw;
    }

    .key-button{
        height: 35px;
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .calculator{
        height: 360px;
    }

    .key-button{
        height: 35px;
        font-size: 25px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .calculator{
        height: 560px;
    }

    .key-button{
        height: 55px;
        font-size: 32px;
    }
}

@media screen and (min-width : 1920px) and (max-width:3160px){
    .calculator{
        height: 660px;
    }

    .key-button{
        height: 70px;
        font-size: 32px;
    }
}



